/* common nav related styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.nav-title {
  color: black;
  font-size: 45px;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.header {
  background-color: aliceblue;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner.profile-pic{
  width: 500px;
}
